@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #1E1E1E; // 深色背景
  color: #FFFFFF; // 白色文本
}

label {
  font-weight: 700;
  color: #FFFFFF; // 白色文本
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #9b59b6; // 链接颜色为紫色
  text-decoration: none;

  &:hover {
    color: lighten(#9b59b6, 10%); // 悬停时颜色变亮
  }
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #2C2C2E; // 深色背景
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #FFFFFF; // 白色文本
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #9b59b6; // 链接颜色为紫色
    cursor: pointer;

    &:hover {
      color: lighten(#9b59b6, 10%); // 悬停时颜色变亮
    }
  }
}

// main-container 全局样式
.app-container {
  padding: 20px;
  background-color: #1E1E1E; // 深色背景
  color: #FFFFFF; // 白色文本
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, #2E2E2E 0%, #3A3A3C 100%); // 深色渐变背景

  .subtitle {
    font-size: 20px;
    color: #FFFFFF; // 白色文本
  }

  &.draft {
    background: #5E5E5E; // 深灰色背景
  }

  &.deleted {
    background: #5E5E5E; // 深灰色背景
  }
}

.link-type,
.link-type:focus {
  color: #f79dbb; // 链接颜色为粉色
  cursor: pointer;

  &:hover {
    color: lighten(#f79dbb, 10%); // 悬停时颜色变亮
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}
